<header id="main-header" class="clearfix">
  <h1 id="logo">
    <a class="site-title" href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a>
  </h1>
  <nav id="top-menu">
    <ul id="menu-top-menu" class="nav sf-js-enabled">
      <li class="menu-item menu-item-type-custom menu-item-object-custom">
        <a class="page-link nav" href="https://lanin.me" title="Home">Home</a>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item">
        <a class="page-link nav" href="https://blog.lanin.me" title="Blog">Blog</a>
      </li>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item">
        <a class="page-link nav" href="https://notimatica.io" title="Notimatica.io" target="_blank">Notimatica.io</a>
      </li>
    </ul>
  </nav>
</header> <!-- #main-header -->
